.card {
    height: 100%; /* Garante que os cards tenham o mesmo tamanho */
    display: flex;
    flex-direction: column;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.card-body .btn {
    margin-top: auto; /* Empurra o botão para o final */
}
.row .col-md-3 {
    margin-bottom: 50px; 
}